<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<script src="../assets/javascript.js"defer></script>
    <title>Document</title>
</head>
<body>

    <header>
        <div><span></span><span></span><span></span><span></span><a href="../controllers/inscriptionSociete.php">Inscription société</a></div>
        <a href="../controllers/connexionSociete.php">connexion société</a>
        <a href="../controllers/connexionVendeur.php">connexion vendeur</a>
    </header>

    

    <section class="organiz">
        <video preload="auto" loading="lazy" playsinline muted autoplay poster="" id="organizVideo">
            <source src="../assets/images/organiz.mp4" type="video/mp4" />
          </video>
          
          <img src="../assets/images/techno.png" id="tech">
          <img src="../assets/images/techno.png" id="tech2">
          <img src="../assets/images/techno.png">
        
    </section>
    
</body>
</html>