<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<script src="../assets/javascript.js"defer></script>
    <title>Document</title>
</head>
<body>

  

    

    <section class="organiz">
        <header>
            <div><span></span><span></span><span></span><span></span><a href="../controllers/inscriptionSociete.php">Inscription société</a></div>
            <div><span></span><span></span><span></span><span></span><a href="../controllers/connexionSociete.php">connexion société</a></div>
            <div><span></span><span></span><span></span><span></span><a href="../controllers/connexionVendeur.php">connexion vendeur</a></div>
        </header>
        
        <video preload="auto" loading="lazy" playsinline muted autoplay poster="" id="organizVideo">
            <source src="../assets/images/organiz.mp4" type="video/mp4" />
          </video>
          
          <img src="../assets/images/techno.png" id="tech">
          <img src="../assets/images/techno.png" id="tech2">
          <img src="../assets/images/techno.png">
        
    </section>


    <section id="qui">
<div><h1>Qui sommes-nous?</h1><h2>Tout pour organiser votre entreprise</h2></div>

<article> 
    <div></div>
    <div></div>
    <div></div>
</article>

    </section>
    
</body>
</html>