*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    
    
}

#connexionVendeur{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/bgCoVendeur.jpg);
    background-size: cover;
   
    background-position: center;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    min-height:70vh ;
}


form input{
    font-family: 'Playfair Display', serif;
    width: 400px;
    max-width: 90%;
    height: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    border:#9e2121;
    color: #9e2121;
}


.bouton {
    position: relative;
    background-color: transparent;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 15px;
    letter-spacing: 5px;
    color: white;
    margin: 20px;
  }
  
  .bouton span {
    position: absolute;
    background-color:white;
  }
  
  .bouton span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s;
  }
  
  .bouton:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
  }
  
  .bouton span:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .bouton:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
  }
  
  .bouton span:nth-child(3) {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
  }
  
  .bouton:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s;
  }
  
  .bouton span:nth-child(4) {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
  }
  
  .bouton:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.25s;
  }
  
  .bouton:hover {
    background-color: white;
    color: #9e2121;
    transition: 1s ease-in-out;
    cursor: pointer;
  }