*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.organiz{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #9E2121; 
  
}

#organizVideo{
    
    height: 80vh;
    width: 100%;
}


header{

    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 0px;
    background-color: #9E2121;
    border-bottom:1px solid white ;
    opacity: 0;
   
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

header div{
    position: relative;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div span{
    position:absolute;
}


header div:hover{
    background-color: white;
    transition: ease-in-out 1s;
   
}

header div:hover a{
    color: #9E2121;
    transition: ease-in-out 1s;
   
}

header div span:nth-child(1){

bottom: 0;
left: 0;
height: 100%;
width: 2px;
background-color: white;
transform: scaleY(0);
transform-origin: bottom;
transition: transform 0.25s;

}

header div:hover span:nth-child(1){
    transform: scaleY(1);
transform-origin: bottom;
transition: transform 0.25s;
}

header div span:nth-child(2){

    top: 0;
    left: 0;
    height:2px;
    width:100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
    
    }

    header div:hover span:nth-child(2){
        transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
    }

    header div span:nth-child(3){

        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        background-color: white;
        transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
        
        }

        header div:hover span:nth-child(3){
            transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.25s;
        }


        header div span:nth-child(4){

            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: white;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.25s;
            
            }

            header div:hover span:nth-child(4){
                transform: scaleX(1);
            transform-origin: right;
            transition: transform 0.25s;
            }
    
        

.organiz img{
    position: absolute;
    left: 5%;
    bottom: 10%;
    width: 230px;
    max-width: 40%;
    animation: tourne 12s linear infinite;
    
      
}

#tech{
    position: absolute;
    left: 18%;
    bottom: 30%;
    width: 150px;
    max-width: 40%;
    animation: tourneInverse 8s linear infinite;
}

#tech2{
    position: absolute;
    left: 20%;
    bottom: 17.5%;
    width: 90px;
    max-width: 40%;
    animation: tourne 3s linear infinite;
}


@keyframes tourneInverse {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
